/*444249 | 68,66,73 - black*/ 
/*EFEFEF - dirty white*/
/*C5C5C9 - gray*/
/*37C65B - green*/
* {
	margin: 0; 
	padding: 0; 
	box-sizing: 
	border-box;
	font-family: 'Varela Round', sans-serif;
	scroll-behavior: smooth;
}

/*start of LANDING PAGE*/
#body_landing {
	background-image: url("../../assets/images/landing/bg4.jpeg");
	background-size: cover;
	height: 100vh;
	position: relative;
}
#div_landing {
	color: #EFEFEF;
	background-color: rgba(68,66,73, 0.8);
	position: absolute;
	margin-top: 220px;
	border-radius: 30px;
}
#little {
	font-family: 'Kaushan Script', cursive;
	color: #EFEFEF;
}
hr {
	border-top: 1px solid white;
}
#visit_button {
	background-color: #37C65B;
	color: #444249;
}
#visit_button:hover {
	background-color: #444249;
	color: #EFEFEF;
}
/*end of LANDING PAGE*/

/*NAVBAR*/
.navbar {
	background-color: rgba(68,66,73,0.7);
	box-shadow: 0 10px 20px #888888;
}
#home_little {
	font-family: 'Kaushan Script', cursive;
	color: #37C65B;
}
#home_little:hover {
	color: #EFEFEF;
	transform: scale(1.1);
}
li a:hover {
	transform: scale(1.1);
}
/*end of NAVBAR*/

.containers {
	margin-left: 200px;
}

/*HOME*/
.header_home {
	background: url(./../images/home.jpeg);
	height: 500px;
	background-size: 100% 100%;	
}
.header_text h2 {
	color: #EFEFEF;
	font-size: 40px;
	background: rgb(68,66,73, 0.8);
	border-radius: 30px;
}
#home {
	background-color: #FFFFFF;	
}

#carouselExampleCaptions {
	box-shadow: 0 10px 20px #888888;
}
#carousel_item {
	color: #EFEFEF;
	background-color: rgba(68,66,73, 0.7);
	border-radius: 30px;
}
/*end of HOME*/

/*GALLERY*/
.header_gallery {
	background: url(./../images/gallery.jpeg);
	height: 500px;
	background-size: 100% 100%;
}

#gallery {
	background-color: #FFFFFF;
}
.card {
	box-shadow: 0 10px 20px #888888;
}
button:hover {
	transform: scale(1.1);
}

/*modal*/
.modal-body img {
	max-width: 100%;
  	height: auto;
  	margin-bottom: 15px;
}
.modal-body {
	background-color: #444249;
}
/*end of GALLERY*/

/*ABOUT*/
.header_about {
	background: url(./../images/about.jpeg);
	height: 500px;
	background-size: 100% 100%;
}
#about {
	background-color: #FFFFFF;
}
i {
	color: #444249;
	font-size: 30px;	
}
div a i:hover {
	color: #37C65B;
	transform: scale(1.3);
}
.followus  {
	color: #444249;
}
.followus:hover  {
	color: #37C65B;
}
/*end of ABOUT*/

/*CONTACT*/
.header_contact {
	background: url(./../images/contact.jpeg);
	height: 500px;
	background-size: 100% 100%;
}
#contact {
	background-color: #FFFFFF;
}

#gmap {
	box-shadow: 0 10px 20px #888888;
}
/*end of CONTACT*/

/*FOOTER*/
footer {
	color: #EFEFEF;
	background-color: #444249;
	height: 10vh;
}



/*MEDIA QUERY*/

@media only screen and (max-width: 400px) {
	#gmap {
    width: 88vw;
  }
}
@media only screen and (min-width: 961px) {

}